<% include ./partials/header.ejs %>

<form action="/login" method="POST" align="center">
<p><h1>Login!!</h1></p>
<div id="frr">
<div class="form-group">
<label for="username">UserName:</label>
<input type="text" name="carnum" placeholder="your car number" class="form-control">
</div>

<input type="submit" value="Submit!" class="btn btn-primary">
</div>
</form>
<% include ./partials/footer.ejs %>
